.nav {
  height: 100px;
  width:100%;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  box-shadow: 0px 2.98288px 7.8564px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  margin-left: 50px;
  padding: 20px;
}

